body {
    overflow: hidden;
    padding-top: 5rem;
}

.img-wrap {
    width: 1em;
    height: 1em;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
  }
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}